Backend/venv/
Backend/venv-alt/
Backend/__pycache__/
Backend/venv/pyvenv.cfg
Backend/src/__pycache__/
Backend/.ipynb_checkpoints/
Backend/src/.ipynb_checkpoints/
Backend/SQlite/
Backend/SQLite/watch_history_202211261819.csv
Backend/SQLite/YoutubeStats.sqlite
Backend/src/SQLite/watch_history_202211261819.csv
Backend/experiments/ex.json

# Local Netlify folder
.netlify
