<div class="body">
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <nav id="navbar" class="navbar">
        <ul>
          <div id="logo">
            <h1>
              <a href="">
                <span>Youtube</span>Stats 
              </a>
            </h1>
          </div>
          <li>
            <a class="nav-link scrollto active" href="">Home</a>
          </li>
          <li>
            <a class="nav-link scrollto" href="#help">Help</a>
          </li>
          <li>
            <a class="nav-link scrollto" href="#contact">Github</a>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <main id="main">
    <div class="main-container">
      <section id="hero" class="hero-section">
        <div class="hero-container hero-left" data-aos="fade-in">
          <h1>Watch History Analysis</h1>
          <h2>Analyze your youtube watch trends</h2>
        </div>
        <div class="hero-container hero-right" data-aos="fade-in">
          <label for="fileInput" class="btn-get-started scrollto">
            Upload Takeout
            <input 
              (change)="uploadTakeout($event)" 
              type="file" 
              id="fileInput" 
              hidden
            />
          </label>
          <h4>Date range:</h4>
          <div class="date-picker">
            <div>{{ undefined }} - </div>
            <div>{{ undefined}}</div>
          </div>
        </div>
      </section>

      <!-- The charts and plots sections will need to be adapted to Angular's way of handling dynamic data -->
      
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">
            <h4>About Us</h4>
            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>
</div>
