<div *ngIf="chartOptions">
  <apx-chart
    [series]="chartOptions.series"
    [dataLabels]="chartOptions.dataLabels"
    [chart]="chartOptions.chart"
    [title]="chartOptions.title"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [tooltip]="chartOptions.tooltip"
    [dataLabels]="chartOptions.dataLabels"
    [fill]="chartOptions.fill"
    [legend]="chartOptions.legend"
    [colors]="chartOptions.colors"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [plotOptions]="chartOptions.plotOptions"
    [responsive]="chartOptions.responsive"
    [theme]="chartOptions.theme"
    [grid]="chartOptions.grid"
    [theme]="chartOptions.theme"
  ></apx-chart>
</div>
