<div class="row top-card-row">
  <div class="col-lg-2 col-sm-4 col-6">First card</div>
  <div class="col-lg-2 col-sm-4 col-6">second card</div>
  <div class="col-lg-2 col-sm-4 col-6">third card</div>
  <div class="col-lg-2 col-sm-4 col-6">fourth card</div>
  <div class="col-lg-2 col-sm-4 col-6">fifth card</div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="plot-selector">
      <select
        class="form-control"
        [(ngModel)]="selectedPlot"
        (change)="updateChart()"
      >
        <option value="hourOfDay">Hour of Day</option>
        <option value="month">Month</option>
        <option value="dayOfYear">Day of Year</option>
        <option value="weekday">Weekday</option>
      </select>
    </div>
    <div>
      <ng-container *ngIf="allPlotsData$ | async as allPlotsData">
        <app-weekly-average-chart
          [plotData]="allPlotsData.weeklyAvg"
        ></app-weekly-average-chart>
      </ng-container>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-12">Side panel 1</div>
      <div class="col-12 col-sm-6 col-lg-12">Side panel 2</div>
    </div>
  </div>
</div>

<!-- <div class="main-dashboard">
        <div class="row">First row (upload etc)</div>
        <div class="row">
          <div class="col-lg-2 col-sm-4 col-6">First card</div>
          <div class="col-lg-2 col-sm-4 col-6">second card</div>
          <div class="col-lg-2 col-sm-4 col-6">third card</div>
          <div class="col-lg-2 col-sm-4 col-6">fourth card</div>
          <div class="col-lg-2 col-sm-4 col-6">fifth card</div>
        </div>

        <div class="row">
          <div class="col-lg-8">Top Channels/Genres charts</div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-12">Side panel 1</div>
              <div class="col-12 col-sm-6 col-lg-12">Side panel 2</div>
            </div>
          </div>
        </div>
      </div> -->
